.panel-desc-form {
  width: 100%;
  margin: 20px;
}

.panel-desc-input {
  height: 30px;
  width: 90%;
  font-size: medium;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.panel-desc-input:focus {
  outline: none;
}

.panel-desc-label {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.form-container {
  width: 60%;
  margin: auto;
  justify-content: center;
}

.btn {
  border: none;
  height: 35px;
  width: 90px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
