.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
.home-text {
    font-weight: 800;
    font-size: 30px;
    margin: 5px;
}
.home-btn {
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border-color: #d9534f;
    background-color: #d9534f;
    padding: 6px 50px;
    margin: 10px;
}